*{
margin: 0px;
padding: 0px;
}
html{
overflow-x: hidden;
}
body{
overflow-x: hidden;
}
body{
background-image: url(assets/bg.png);
background-position: center;
}
/* navbar-section-start */
/* colors */
.Home{
color: orange;
}
.About{
color: skyblue;
}
.facilities{
color: #05D4DF;
}
.admission{
color: #5D58EF;
}
.navbar{
width: 100%;
display: flex;
justify-content: space-around;
}
.logo{
display: flex;
align-items: center;
}
.nav-links{
display: flex;
justify-content: space-between;
}
.unordered-list{
display: flex;
align-items: center;
}
.nav-item{
list-style-type: none;
margin-right: 32px;
}
.nav-link{
text-decoration: none;
}
.nav-button{
display: flex;
align-items: center;
}
.menu{
display: flex;
align-items: center;
}
.logo-name{
color: black;
font-size: 32px;
font-weight: 800;
}
.btn-primary{
padding: 10px 10px;
width: 196px;
border-radius: 12px;
border: none;
background-color: orange;
color: white;
font-weight: 800;
font-size: 14px;
}
.menu{
font-size: 24px;
display: none;
}
.nav-link{
font-size: 20px;
font-weight: 800;
}

/* navbar-section-End */

/* banner-section-start */
.banner-container{
width: 1158.61px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}
.banner-button{
width: 197px;
background-color: black;
color: white;
padding: 10px 10px;
border-radius: 12px;
border: none;
margin-top: 24px;
}
.Empowering{
color: orange;
}
.vision{
color: skyblue;
}
.banner-title{
font-size: 56px;
font-weight: bold;
}
.banner-description{
color: black;
font-size: 20px;
margin-top: 24px;
}
/* banner-section-End */

















/* @media For small Devices */
@media screen and (max-width: 576px){
.navar{
width: 100%;
justify-content:space-between;
}
.menu{
display: block;
display: flex;
align-items: center;
font-size: 30px;
width: 30px;
}
.logo-img img{
width: 46px;
font-size: 20px;
}
.logo-name{
display: none;
}
.unordered-list{
display: none;
}
.nav-button{
display: none;
}
/* navbar-section-End */

/* banner-section-Start */
.banner-container{
flex-direction:column-reverse;
width: 100%;
padding: 20px;
}
.banner-img img{
width: 90%;
}
.banner-button{
align-content: center;
}
.banner-content{
text-align: center;
}
}
/* banner-section-End */